


* {
  box-sizing: border-box;
}

.listItem {
  cursor: pointer;
  color: #3c096c;
}
.textSection {
  max-width: 85%;
}

body{
  background-color: #0d1219;
color: "#f9fafa";
}


html{
background-color: #0d1219;
color: #f9fafa;
}
